<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <nav>
      <a href="/">HOME</a>
      <a href="/create">CREATE</a>
      <a href="/login">LOGIN</a>
      <a href="/signUp">SIGN UP</a>
    </nav>
    {{{layout}}}
  </body>
</html>
